{% extends "index.html" %}

{% block content %}
<div class="group-container">
    <h2>Select Group</h2>
    <div class="group-buttons">
        <a href="{{ url_for('fee_table', class_name=class_name, group_name='BCA') }}" class="group-btn">BCA</a>
        <a href="{{ url_for('fee_table', class_name=class_name, group_name='B.Sc') }}" class="group-btn">B.Sc</a>
        <a href="{{ url_for('fee_table', class_name=class_name, group_name='B.Com') }}" class="group-btn">B.Com</a>
        <a href="{{ url_for('fee_table', class_name=class_name, group_name='B.Sc Chemistry') }}" class="group-btn">B.Sc Chemistry</a>
    </div>
</div>
{% endblock %}